<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<script src="http://code.jquery.com/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/json2.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/date.format.js")" type="text/javascript"></script>
</head>

<body>
    <div class="page">
        <div id="header">
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>