<html>
    <head>
        <title>@Model.Name</title>
    </head>
    <body>
        <p>Name: @Model.Name</p>
        <p>Email: @Model.Email</p>
        <p>Address: @Model.Address</p>
        <p>City: @Model.City</p>
        <p>State: @Model.State</p>
        <p>Zip: @Model.Zip</p>
        <p>Twitter: @Model.Twitter</p>
    </body>
</html>
